@model SAT.DATA.Course

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-danger mb-2 text-center">Are you sure you want to delete "@Model.CourseName"?</h3>
<div class="row">
    <div class=" card col-md-6 p-3 mx-auto">
        <dl class="align-items-center">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CourseDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreditHours)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreditHours)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Curriculum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Curriculum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                <input type="submit" value="Delete" class="btn m-3" />
                <button class="btn m-3">@Html.ActionLink("Back to List", "Index")</button>
            </div>
        }
    </div>


</div>
