@model SAT.DATA.Course

@{
    ViewBag.Title = Model.CourseName;
}

<h1>@ViewBag.Title</h1>
<main>
    <div class="card col-md-6 mx-auto p-3">
        <table>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CourseDescription):</th>
                <td>@Html.DisplayFor(model => model.CourseDescription)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Curriculum):</th>
                <td>@Html.DisplayFor(model => model.Curriculum)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Notes):</th>
                <td>@Html.DisplayFor(model => model.Notes)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.IsActive):</th>
                <td>@Html.DisplayFor(model => model.IsActive)</td>
            </tr>
        </table>
        <div class="row"><button class="btn m-3 col-md-2 align-items-center">@Html.ActionLink("Edit", "Edit", new { id = Model.CourseID })</button> <button class="btn m-3 col-md-2">@Html.ActionLink("Back to List", "Index")</button></div>
    </div>
</main>