@model IEnumerable<SAT.DATA.Course>

@{
    ViewBag.Title = "Courses";
}
<div>
    <h2 class="text-center">@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
        <button class="btn">
            @Html.ActionLink("Add a Class", "Create")
        </button>
    }
    @if (User.IsInRole("Scheduler"))
    {
        <button class="btn">
            @Html.ActionLink("Add a Class", "Create")
        </button>
    }

</div>
@if (User.IsInRole("Admin"))
{

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditHours)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink($"{item.CourseName}", "Details", new { id = item.CourseID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curriculum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditHours)
        </td>
        @if (User.IsInRole("Admin"))
        {
        <td>
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Courses", new { id = item.CourseID })"><i class="fas fa-edit mr-2"></i></a> 
                <a href="@Url.Action("Delete", "Courses", new { id = item.CourseID})"><i class="fas fa-trash-alt"></i></a>
            }
        </td>
        }
    </tr>
    }

</table>
