@model IEnumerable<SAT.DATA.Course>

@{
    ViewBag.Title = "Courses";
}

<h1 class="text-center">@ViewBag.Title</h1>


<table class="table">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditHours)
        </th>

        <th>
            @if (User.IsInRole("Admin"))
            {
                <button class="btn">
                    @Html.ActionLink("Add a Course", "Create")
                </button>
            }
            @if (User.IsInRole("Scheduler"))
            {
                <button class="btn">
                    @Html.ActionLink("Add a Course", "Create")
                </button>
            }
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink($"{item.CourseName}", "Details", new { id = item.CourseID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curriculum)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.CreditHours)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td class="text-center">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "Courses", new { id = item.CourseID })" class="mx-2"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("Delete", "Courses", new { id = item.CourseID})" class="mx-2"><i class="fas fa-trash-alt"></i></a>
                    }
                </td>
            }
        </tr>
    }

</table>
